@charset "utf-8";

.new-task {
  &-form {
    color: #555555;
  }
  &-select-list,
  &-title,
  &-detail {
    width: 300px;
    margin-bottom: 25px;
  }
  &-detail {
    height: 200px;
  }
  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
  &-date,
  &-time {
    margin: 25px 5px 25px;
  }
}

.error-message {
  color: #ff3333;
}


/*　画面サイズが320pxからはここを読み込む　*/
@media screen and (min-width:320px) {
 .new-task {
  width: 80%;
  margin: 0 auto;
}
 
}
 
/*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:768px) and ( max-width:1024px) {
  .new-task {
    width: 70%;
    margin: 0 auto;
    &-title,
    &-detail {
      width: 500px;
      margin-bottom: 25px;
    }
  }
}
 
 
/*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:1024px) {
  .new-task {
    width: 1000px;
    margin: 0 auto;
  }
}