@charset "utf-8";

<<<<<<< HEAD
// .signin {
//   width: 500px;
//   margin: 0 auto;
//   &-form {
//     margin: 25px 0;
//   }
//   &-button {
//     background-color: #242f9b;
//     color: #ffffff;
//     width: 100px;
//     height: 40px;
//     border-radius: 5px;
//   }
// }

// .email-label,
// .password-label {
//   color: #555555;
// }

// .email-input,
// .password-input {
//   width: 100%;
//   font-size: large;
//   height: 30px;
//   margin-bottom: 25px;
// }

.error-message {
  color: #ff3333;
}

  /*　画面サイズが320pxからはここを読み込む　*/
@media screen and (min-width:320px) {
.signin {
  width: 70%;
  margin: 0 auto;
  &-form {
    margin: 25px 0;
  }
  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

}

  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:768px) and ( max-width:1024px) {

  .signin {
    width: 45%;
    margin: 0 auto;
    &-form {
      margin: 25px 0;
    }
    &-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
  
  .email-label,
  .password-label {
    color: #555555;
  }
  
  .email-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

}

  /*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:1024px) {
=======
>>>>>>> f615aee0fae18c1a0d0688ac05a2b0fd9d80b3ae
.signin {
  width: 500px;
  margin: 0 auto;
  &-form {
    margin: 25px 0;
  }
  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

<<<<<<< HEAD
=======
.error-message {
  color: #ff3333;
>>>>>>> f615aee0fae18c1a0d0688ac05a2b0fd9d80b3ae
}
